<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{^isAuthenticated}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/isAuthenticated}}
     
      {{#isAuthenticated}}
      <li class="nav-item">
        <a class="nav-link" href="/users/products">My Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/add-product">Add Product</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{/isAuthenticated}}
    </ul>
  </div>
</nav>