<html lang="en">
<head>
 {{> header}}
 <title>Sell your Stuff</title>
</head>
<body>
 <h1>Sell your Stuff</h1>
 <div class="container">
  	{{> menu}}
   <ul class="list-group">
    {{#products}}
    <img src="/uploads/{{imageURL}}" class="product-preview-image">
    <li class="list-group-item d-flex justify-content-between align-items-center">
     <a href="/products/{{id}}">{{title}}</a>
      
      <small>${{price}}</small>
    </li>
    {{/products}}

   </ul>

  

 </div>

 

 {{> footer}}
</body>
</html>