
<html lang="en">
<head>
 {{> header}}
 <title>Document</title>
</head>
<body>
 <h1>Login</h1>
 <div class="container">
  	{{> menu}}
   <form action="/login" method="POST">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password"  placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{#message}}
 <div class="alert alert-danger" role="alert">{{message}}</div>
 {{/message}}
 </div>


 {{> footer}}
</body>
</html>