<html lang="en">
<head>
 {{> header}}
 <title>Document</title>
</head>
<body>
 <h1>Product </h1>
 <div class="container">
  	{{> menu}}
   <img src="/uploads/{{imageURL}}" class="product-preview-image">
   <h3>{{title}}</h3>
   <p>{{description}}</p>
   <small>${{price}}</small>

   <h2>Comments</h2>
   <ul class="list-group">
      {{#comments}}
         <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1">{{title}}</h5>
         </div>
         <p class="mb-1">
            {{description}}
         </p>
      {{/comments}}
   </ul>



         {{! Add Comment }}

   <div class="add-comment">
      <b>Add Your Comment</b>
      <form action="/add-comment" method="POST">
         <input type="hidden" name="productId" value="{{id}}">
         <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Enter title">
         </div>
         <div class="form-group">
            <label for="Description">Description</label>
            <textarea name="description" class="form-control" placeholder="Description"></textarea>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>

      </form>
   </div>

 </div>
{{#message}}
 <div class="alert alert-danger">{{message}}</div>
 {{/message}}


 

 {{> footer}}
</body>
</html>